* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: ReithSans, Arial, Helvetica, freesans, sans-serif;
  font-size: 13.5px;
}

html {
  transform: rotate(360deg);
}

#topbar {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}

#logo {
  width: 450px;
  height: 50px;
  display: flex;
  margin-left: 35px;
  align-items: center;
}

#logo img {
  width: 150px;
}

#logo .signin:hover {
  border-bottom: 3px solid black;
}

.sign {
  margin-left: 15px;
  display: flex;
  width: 100px;
}

.signin {
  font-size: 1.1rem;
  padding-top: 30px;
}

#menu {
  display: flex;
  margin-left: -150px;
  width: 750px;
  justify-content: space-between;
}

#menu li {
  padding: 9px;
}

#menu li a {
  position: relative;

  color: black;
  display: inline-block;
  font-weight: 700;
}

#menu li a::before {
  content: "";
  position: absolute;
  bottom: -10px;
  padding-left: 8px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #080808;
  border-radius: 4px;
  scale: 0 1;
  transform-origin: left;
  transition: scale 0.5s;
}

#menu li a:hover::before {
  scale: 1;
  transform: right;
}

#search {
  margin-left: 40px;
}

#srch {
  height: 30px;
  border: 0.5px solid lightgrey;
  border-radius: 6px;
  background: url("images/search.png") no-repeat;
  background-size: 30px;
  font-size: 16px;
  padding-left: 30px;
}

#navbar {
  background-color: rgb(180, 6, 6);
  margin-top: 10px;
  height: 85px;
}

.heading {
  color: white;
  font-size: 3.5rem;
  margin-left: 55px;
}

#menu1 {
  display: flex;
  margin-left: 40px;

  position: relative;
  bottom: 0;
}

#menu1 a {
  color: rgb(255, 255, 255);
  display: inline-block;
  font-weight: lighter;
  border-right: 0.5px solid rgb(102, 98, 98);
  padding-right: 12px;
  padding-left: 12px;
  margin-top: 10px;
  padding-bottom: 2px;
  line-height: 15px;
}

#menu1 a:hover {
  border-bottom: 3px solid white;
}

/* HOME BODY */

#topic {
  border-bottom: 3px solid rgb(158, 5, 5);
  font-size: 20px;
  margin-left: 50px;
  line-height: 50px;
}

.main-img {
  width: 500px;
  height: 300px;
}

.main-p {
  display: flex;
  flex-direction: column;

  width: 500px;
}

.news {
  font-size: 2.5rem;
  color: rgb(95, 94, 94);
  font-weight: bold;
}

.image {
  width: 350px;
  height: 320px;
}

.subitems {
  width: 220px;
  height: 170px;
  display: flex;
  margin-left: 30px;
  flex-direction: column;
  position: relative;
}

.section {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-left: 50px;
}

.section1 {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: -200px;
  left: 557px;
}

.subitems p {
  padding-top: 8px;
  color: grey;
  font-size: 15px;
}

.subitems .sub-heading {
  font-size: 1.3rem;
  color: rgb(102, 100, 100);
  font-weight: 900;
}

.subitems .sub-heading:hover {
  text-decoration: underline;
  color: red;
}

.section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.section3 {
  margin-top: 30px;
}

.subitems3 {
  width: 750px;
  height: 400px;
  /* border: 2px solid green; */
  margin: auto;
}

i {
  padding: 12px;
}

.subitems3 h1 {
  font-size: 2rem;
}

.subitems3 h2 {
  font-size: 1.5rem;
}

.subitems3 .h5 {
  font-size: 1.3rem;
  position: relative;
  top: -230px;
  left: 280px;
  color: rgb(41, 39, 39);
}

a {
  color: black;
}

.subitems3 .h5 a {
  font-size: 20px;
  color: black;
  border: 0.5px solid rgb(209, 206, 206);
  /* height: 40p ; */
  padding: 10px;
}

.subitems3 .h5 a:hover {
  font-size: 20px;
  color: red;
}

.subitems3 img {
  width: 270px;
  height: 170px;
}

hr {
  width: 55%;
  margin: auto;
}

.around-head {
  font-size: 2rem;
  margin-left: 50px;
}

.around-head hr {
  width: 79%;
  position: relative;
  top: -16px;
  left: 90px;
}

.around-head1 hr {
  width: 82%;
  position: relative;
  top: -16px;
  left: 60px;
}

.around-head1 {
  font-size: 2rem;
  margin-left: 50px;
}

.about {
  width: 270px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about p {
  font-size: 0px;
}

.about .h1 {
  font-size: 1.6rem;
  font-weight: 750;
}

.about a {
  color: rgb(45, 44, 44);
  font-size: 14px;
  font-weight: 700;
}

.about a:hover {
  color: red;
  text-decoration: underline;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 50px;
}

.about1 {
  padding-right: 170px;
  border-right: 1px solid grey;
}

.section5 {
  width: 100%;
  margin-top: 60px;
  background-color: rgb(43, 43, 43);
}

.section5 h1 {
  font-size: 2rem;
  color: white;
  margin-left: 50px;
  padding-top: 12px;
}
.section5 ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 60px;
  width: 90%;
}

.section5 li a {
  color: rgb(255, 255, 255);
  display: inline-block;
  font-weight: 800;
}

.section5 li a:hover {
  text-decoration: underline;
}

.section6 h1 {
  font-size: 2rem;
  color: rgb(255, 255, 255);
  margin-left: 50px;
  padding-top: 12px;
}

.section6 {
  background-color: rgb(82, 82, 82);
}

#menubar1 {
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: -30px;
}

#menu2 {
  display: flex;
  flex-wrap: wrap;
  margin-left: 50px;
}

#menu2 li a {
  font-size: 1.1rem;
  font-weight: 900;
  color: white;
  padding-right: 140px;
  padding-left: 30px;
  border-right: 0.5px solid grey;
  line-height: 30px;
}

#menu2 li a:hover {
  text-decoration: underline;
}

.footer {
  display: flex;
  margin-left: 50px;
  margin-top: 20px;
  /* background-color: rgb(108, 106, 106); */
}

.footer a {
  padding-right: 20px;
  font-size: 13px;
  color: white;
  font-weight: 700;
}

.section6 hr {
  width: 93%;
  height: 0.1px;
  margin: auto;
}

.footer a:hover {
  text-decoration: underline;
}

.section6 p {
  color: white;
  font-weight: 500;
  margin-top: 20px;
  margin-left: 50px;
}
